.header {
	width: 100%;
	height: $header-height;
	background-color: $primary;
	padding: 0 $spacing-700;
	@include box-shadow();
	position: fixed;
	top: 0;
}

.header__title {
	font-size: $font-900;
	line-height: $header-height;
	color: $primary-contrast;
}