.item-list__item--header {
	padding: $spacing-300;
	font-size: $font-300;
	font-weight: bold;
	text-transform: capitalize;
	color: $primary-contrast;
	background-color: $primary;
}

.item-list__item {
	padding: $spacing-300;
	display: flex;
	justify-content: space-between;
	background-color: $primary-weaker;

	&:not(:last-child) {
		border-bottom: 1px solid $primary;
	}
}

.item-list__item-name {
	color: $text-color;
	font-size: $font-300;	
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.item-list__button-row {
	display: flex;
}

.item-list__link {
	text-decoration: none;
}

.item-list__button {
	color: $primary-contrast;
	background-color: $primary;
	display: block;
	padding: $spacing-300;
	font-size: $font-300;
	border: none;
	cursor: pointer;

	&:focus {
		outline: none;
	}
}

.item-list--offset {
	margin-right: $spacing-300;
}