.sidebar {
	width: $sidebar-width;
	position: fixed;
	top: $header-height;
	left: 0;
	bottom: 0;
	padding: $spacing-700;
	background-color: $secondary;
	color: $secondary-contrast;
	@include box-shadow();
}

.sidebar__link {
	color: $secondary-contrast;
	font-size: $font-500;
	cursor: pointer;
	text-decoration: none;
	padding: $spacing-300;

	&:hover {
		color: $primary;
	}
}