// Font Sizes
$font-900: 48px;
$font-700: 32px;
$font-500: 26px;
$font-300: 16px;

// Layout Sizes
$sidebar-width: 250px;
$header-height: 100px;
$form-width: 600px;

$spacing-900: 30px;
$spacing-700: 20px;
$spacing-500: 15px;
$spacing-300: 10px;
$spacing-100: 5px;

// Colors
$primary: #EF4836;							// Red
$primary-weaker: hsla(6, 85%, 77%, 1);
$primary-contrast: #fff;					// White
$secondary: #19B5FE;						// Blue
$secondary-weaker: hsla(199, 60%, 85%, 1);
$secondary-contrast: #fff;					// White
$component-background: #BFBFBF;				// Gray
$text-color: #000;							// Black

// Mixins

@mixin box-shadow() {
	box-shadow: 0px 11px 14px 0px rgba(0,0,0,0.29);
}