{% extends 'dashboard_layout.html' %}
{% import 'macros.html' as macros %}
{% block content %}

	{{ macros.section_title('Edit User') }}
	{{ macros.link_button('Back', '/users') }}
	{% call macros.form_frame(postback_url) %}
		{{ macros.form_input(form.csrf_token) }}
		{{ macros.form_input(form.username) }}
		{{ macros.form_input(form.first_name) }}
		{{ macros.form_input(form.last_name) }}
		{{ macros.form_input(form.password) }}
		{{ macros.option_form_field_list(form.organizations) }}
	{% endcall %}

{% endblock %}