{% macro page_link(name, url) %}
	<a href='{{url}}' class='sidebar__link'>
		<li>{{name}}</li>
	</a>
{% endmacro %}

{% macro sidebar() %}
	<aside class='sidebar'>
		<ul class='sidebar__links'>
			{{ page_link('Dashboard', '/dashboard') }}
			{{ page_link('Organizations', '/organizations') }}
			{{ page_link('Users', '/users') }}
		</ul>
	</aside>
{% endmacro %}

{% macro header() %}
	<header class='header'>
		<h1 class='header__title'>Admin Sys</h1>
	</header>
{% endmacro %}

{% macro link_button(text, url) %}
	<a class='button' href='{{ url }}'>{{ text }}</a>
{% endmacro %}

{% macro section_title(title) %}
		<h2 class='section-title'>{{ title }}</h2>
{% endmacro %}

{#
	item_list(items)
	--------------
	Returns a list of items showing item names and links to edit pages.
	Requires a list of dictionaries with:

	name - String
	link - String
#}
{% macro item_list(items) %}
	<ul class='item-list__list'>
		<li class='item-list__item--header'>
			<span class='item-list__header-value'>Name</span>
		</li>
	{% for item_details in items %}
		<li class='item-list__item'>
			<span class='item-list__item-name'>
				{{ item_details.name }}
			</span>
			<div class='item-list__button-row'>
				<a class='item-list__link' href='{{ item_details.link }}'>
					<button class='item-list__button {% if item_details.delete_link %} item-list--offset {% endif %}'>Edit</button>
				</a>
				{% if item_details.delete_link %}
					<form method='POST' action='{{ item_details.delete_link }}'>
						<button class='item-list__button' type='submit'>Delete</button>
					</form>
				{% endif %}
			</div>
		</li>
	{% else %}
		<li class='item-list__item'>
			<span class='item-list__name'>None</span>
		</li>
	{% endfor %}
	</ul>
{% endmacro %}

{% macro form_input(field) %}
	{% if field.id == 'csrf_token' %}
		{{ field }}
	{% else %}
		<div class='form__row'>
			{{ field.label(class_ = 'form__label') }}
			{{ field(class_ = 'form__input') }}
			{% if field.errors %}
				{% for error in field.errors %}
					<div class='form__error'>*{{ error }}</div>
				{% endfor %}
			{% endif %}
		</div>
	{% endif %}
{% endmacro %}

{% macro form(fields, url) %}
	<form class='form' action='{{ url }}' method='POST'>
		{% for field in fields %}
			{{ form_input(field) }}
		{% endfor %}
		<div class='form__button-row'>
			<input class='form__button' type='submit' value='Submit' />
		</div>
	</form>
{% endmacro %}
