{% extends 'dashboard_layout.html' %}
{% from 'macros.html' import form_frame, link_button, section_title, form_input, option_form_field_list %}
{% block content %}

	{{ section_title( title ) }}
	{{ link_button('Back', url_for('show_users')) }}
	{% call form_frame(postback_url) %}
		{{ form_input(form.csrf_token) }}
		{{ form_input(form.username) }}
		{{ form_input(form.first_name) }}
		{{ form_input(form.last_name) }}
		{{ form_input(form.password) }}
		{{ form_input(form.organization) }}
		{{ option_form_field_list(form.permissions) }}
	{% endcall %}

{% endblock %}
